.WeedingEventsChurchP__container {
  min-height: 2000px;
}
.WeedingEvents__container,
.WeedingEventsChurch__Mapcontainer,
.WeedingEventsGroup__container {
  color: #333;
  max-width: 80%;
  margin-left: 10%;
  font-family: Amatic SC;
  text-align: -webkit-center;
}
.WeedingEventsChurch__container > img {
  margin: auto;
  position: sticky;
  max-height: 700px;
  margin-top: 50px;
}
.WeedingEvents__Background {
  position: absolute;
  max-height: 400px;
}
.WeddingEventChurch__container {
  margin-left: 400px;
}
.WeddingEventGeneralTitle {
  text-align: center;
  font-size: 100px;
}
.WeedingEventsChurch__container {
  display: grid;
  grid-template-columns: 100%;
  column-gap: 2%;
  color: #333;
  font-family: Amatic SC, cursive;
}
.WeedingEventsChurch__Mapcontainer > p {
  box-shadow: #008080 0px 15px 15px -20px;
  margin: auto;
}
.WeedingEvents__container > h1 {
  box-shadow: rgb(210, 50, 50) 0px 15px 15px -15px, #008080 0px -15px 15px -px;

  color: #333;
  max-width: 500px;
}
.WeedingEventsChurch__container > p {
  box-shadow: rgb(210, 50, 50) 0px 15px 15px -20px;
}
.WeedingEventsChurch__Mapcontainer > div > .map-container > .map {
  width: 80% !important;
  height: 500px !important;
  margin-left: 10%;
}
.WeedingEventsChurch__Mapcontainer {
  margin-top: 20px;
  height: 400px;
}
.WeedingEventsGroup__container {
  margin-top: 200px;
}
.WeedingEventsChurch__container > p > h2 {
  font-size: 40px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.WeedingEventsChurch__container > p > h2 > svg {
  margin-left: 20px;
  cursor: pointer;
}
.WeedingEventsChurch__container > p > h1 > b {
}
@media (max-width: 768px) {
  .WeedingEventsChurchP__container {
    min-height: 1550px;
  }
  .WeddingEventGeneralTitle {
    font-size: 50px !important;
    height: 70px;
    padding-top: 20px;
  }
  .WeedingEventsChurch__container > p > h1 {
    font-size: 40px;
  }
  .WeedingEventsChurch__container > p > h1 > b {
    font-size: 60px;
    /* -webkit-text-stroke: 1px white; */
  }
  .WeedingEventsChurch__container > img {
    max-height: initial;
    max-width: 100vw;
    margin-left: -10vw;
  }
  .WeedingEventsChurch__Mapcontainer > div > .map-container > .map {
    width: 100% !important;
    height: 500px !important;
    margin-left: initial;
  }
}
