@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
.SaveTheDate__container {
  text-align: center;
  position: sticky;
  min-height: 100vh;
  background-position-y: "center";
  background-size: cover;
}
.SaveTheDate__img {
  width: 100%;
  max-width: 1444px;
}
.SaveTheDate__container > h2 {
  position: absolute;
  font-family: "Pacifico", cursive;
  top: 0px;
  color: transparent;
  text-align: center;
  -webkit-text-stroke: 1px gray; /* width and color */
  font-size: 40px;
  margin-bottom: 0px;
  letter-spacing: 5px;
  width: 100%;
  line-height: 50px;
}
.SaveTheDate__container > h1 {
  position: absolute;
  font-family: "Pacifico", cursive;
  bottom: 0px;
  right: 0;
  color: transparent;
  text-align: center;
  -webkit-text-stroke: 1px rgb(0, 128, 128); /* width and color */
  font-size: 40px;
  line-height: 50px;
  margin-bottom: 0px;
  padding: 20px 100px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  margin-left: 40%;
}
.SaveTheDate__container > h1 :before,
.SaveTheDate__container > h1 :after {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  padding: 20px 100px;
  background-color: rgb(0, 0, 0,.1);
  /* border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  border: 2px solid rgba(0, 128, 128, 0.3);
  animation: pulse 2s linear infinite;*/
} 

.pulse:after {
  animation-delay: 1s;
}

@keyframes pulse {
  0% {
    background-color:rgba(0, 128, 128, 0.3);
  }

  20% {
    background-color: rgba(0, 128, 128, 0);
  }

  40% {
    background-color: rgba(0, 128, 128, 0);
  }
  60% {
    background-color: rgba(0, 128, 128, .3);
  }
  80% {
    background-color: rgba(0, 128, 128, 0);
  }
  100% {
    background-color: rgba(0, 128, 128, 0.3);
  }
}
.SaveTheDate__container > h1 > span {
  font-size: 30px;
  -webkit-text-stroke: 1px  rgba(210, 50, 50); /* width and color */
}

@media (max-width: 768px) {
  .SaveTheDate__container > h1 {
    font-size: 20px;
    line-height: 15px;
  }
  .SaveTheDate__container > h1 > span {
    font-size: 10px;
  }
  .SaveTheDate__container {
    background-position-x: center;
    background-size: auto 100vh !important;
  }
  .SaveTheDate__container > h1 {
    font-size: 30px;
    line-height: 30px;
    width: 100vw;
    padding: initial;
    padding-bottom: 20px;
    padding-top: 20px;
    height: 75px;
    letter-spacing: 5px;
  }
  .SaveTheDate__container > h1 > span {
    font-size: 30px;
    margin: 0;
  }
  .SaveTheDate__container > h2 {
    font-size: 30px;
  }
}
