@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
html{
  background-color: black;

}
.App {
  background-color: black;
  /* background: rgb(0,128,128);
background: linear-gradient(90deg, rgba(0,128,128,1) 0%, rgba(210,50,48,1) 25%, rgba(0,128,128,1) 50%, rgba(210,50,48,1) 75%, rgba(0,128,128,1) 100%); */
width: 100vw;
}
 